/* Variables */

/* Styles */
body {
  font: 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;

  .controls {
    white-space: nowrap;
  }
  .get-rates {
    background-color: lightblue;
    margin: 0 0 0 5px;
  }

  .sort-label {
    margin: 0 5px 0 10px;
  }
  .loan-table {
    border: 1px solid #4d4d4d;
    display: table;
    margin: 5px 0px;
    width: 100%;

    .table-row {
      display: table-row;

      .table-cell {
        display: table-cell;
        padding: 5px;

        &.header {
          color: #030303;
          font-weight: bolder;
        }
      }
    }
  }
}


